{% extends "notebooks/base.html" %}

{% load i18n %}

{% block title %} {{template_title}} {% endblock %}

{% block local_css %}
<style>



</style>
{% endblock %}

{% block main_contents %}

{% block header %}
{% include "notebooks/header.html" %}
{% endblock %}

<div class="container">

{% if messages %}
{% for message in messages %}
{% block alert_message %}{% include "notebooks/alert_message.html" %}{% endblock %}
{% endfor %}
{% endif %}

<div class="row mt-3 mb-4">

	<div class="col-12 col-lg-8">

		<div class="Emergence-Article" style="color:grey">
			<p><i class="fa fa-pencil"></i> Post a new story</p>
			<hr>
		</div>

		<div style="text-align:center;">

		<form action="{{path_url}}" method="post">
		{% csrf_token %}
		
			<div class="form-group mt-4">	
				<input type="text" class="form-control" style="font-size: 14px;" id="input_title" placeholder="Titre" name="title" value="{{form.title.value|default_if_none:''}}">
			</div> 

			<div class="row">
				<div class="col-md-6 mt-3">
				  <div class="form-group">
					<select class="form-control form-control-sm" id="exampleFormControlSelect1" name="public" style="color:grey">
						<option value=0 {% if form.public.value == 0 %}selected{% endif%}>Seulement moi peut lire le texte</option>
						<option value=1 {% if form.public.value == 1 %}selected{% endif%}>Tout le monde peut lire le texte</option>
					</select>
				  </div>
				</div>
				<div class="col-md-6 mt-3">
				  <div class="form-group">
					<select class="form-control form-control-sm" id="exampleFormControlSelect1" name="comments" style="color:grey">
					  <option value=0 {% if form.comments.value == 0 %}selected{% endif%}>no</option>
					  <option value=1 {% if form.comments.value == 1 %}selected{% endif%}>yes</option>
					</select>
				  </div>
				</div>
			</div>			

			<div class="form-group mt-3">						
				<textarea style="width:100%; max-width: 100%; height: 600px" class="form-control" id="content" placeholder="Contenu" name="content" >{{form.content.value|default_if_none:''}}</textarea>      
			</div> 

			<div class="form-group mt-4">
				<input type="text" class="form-control" style="font-size: 14px;" id="input_title" placeholder="Tags" name="tags" value="{{form.tags.value|default_if_none:''}}">
			</div> 

			<input type="submit" class="btn btn-secondary btn-send btn-block mt-5" name="create_new_article" value="Sauvegarder">

		</form>

</div>



	</div>

	<div class="col-md-4">

		<div class="sticky-top">

			<div class="Emergence-Article" style="color:grey">
				<p><i class="fa fa-question-circle-o"></i> Guide</p>
				<hr>
			</div>

					{% block user_guide_content_formatting %}
					{% include "notebooks/user_guide_content_formatting.html" %}
					{% endblock %}
		</div>

	</div>
	   
</div>

</div>

{% endblock %}