<header class="masthead" style="background-image: url({{header_img_url}})">
  <div class="overlay"></div>
  <div class="container">
	<div class="row">
	 <div class="col-lg-10 col-md-10 mx-auto">
		<div class="site-heading" style="padding-top:8%;">
		  <h1>{{header_h1_text|safe}}</h1>
		  {% if header_h2_text %}
		  <h2>{{header_h2_text|safe}}</h2>		
		  {% endif %}
			<div class="header_navbar">  
				{% for item in header_navbar_01_button %}
					<a class="btn btn-sm btn-light ml-3 {% if item.1 %}active{% endif %}" href="{{item.2}}" role="button">
						{{item.3|safe}}
					</a>
				{% endfor %}
			</div>	
			<div class="header_navbar_2">  
				{% for item in header_navbar_02_button %}
					<a class="btn btn-sm btn-light ml-3 {% if item.1 %}active{% endif %}" href="{{item.2}}" role="button">
						{{item.3}}
					</a>
				{% endfor %}
			</div>									
		</div>
	  </div>
	</div>
  </div>
</header>