{% extends "notebooks/base.html" %}

{% load static %}

{% load i18n %}

{% block title %} {{template_title}} {% endblock %}

{% block local_css %}
<style>

.card-title{
	font-size:18px;
}

.card-text {
	color: grey;
	text-align:justify;
}

</style>
{% endblock %}

{% block main_contents %}

{% block header %}
{% include "notebooks/header.html" %}
{% endblock %}

<div class="container">

{% if messages %}
{% for message in messages %}
{% block alert_message %}{% include "notebooks/alert_message.html" %}{% endblock %}
{% endfor %}
{% endif %}

<div class="row mt-3">

	<div class="col-md-3">

		<div class="sticky-top">

				<div class="Emergence-Article mb-3" style="color:grey">
					<p><i class="fa fa-user-circle-o"></i> About</p>
					<hr>
					<div class="text-center">
					<img class="img-fluid rounded-circle" style="max-width:150px;" src="//placehold.it/300" class="rounded-circle" />
					</div>
				</div>

				{% if is_owner %}
					<div class="btn-group d-flex" role="group">
						<button id="btnGroupDrop1" type="button" class="btn btn-secondary btn-sm dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Notebook
						</button>
						<div class="dropdown-menu  w-100" aria-labelledby="btnGroupDrop1">
							<a class="dropdown-item" href="/Articles/Create/" style="color:grey">Ajouter une histoire</a>
							<a class="dropdown-item" href="/Notebooks/{{notebook_obj.url}}/Images/" style="color:grey">Ajouter une photo</a>
						</div>
					</div>
				{% endif %}	
	
		</div>

	</div>

	<div class="col-12 col-lg-6" style="min-height:1000px">

		<div class="Emergence-Article" style="color:grey">
			<p><i class="fa fa-clock-o"></i> Timeline</p>
			<hr>
		</div>

		{% if PagList %}
			{% for notebook_note_obj in PagList %}

				{% if notebook_note_obj.note.note_type == 'article' %}
				<div class="card mb-4">
					<div class="card-body">
						<div class="Emergence-Article mb-0">
							<a href="{{notebook_note_obj.note.note_full_path}}">
								<h2 class="card-title" style="font-size: 15px;">{{notebook_note_obj.note.article.title}}</h2>				
							</a>
							<p>
								<i class="fa fa-user"></i> <a href="/Notebooks/{{notebook_note_obj.note.notebook.url}}/" class="Emergence-Article" style="color:#17a2b8 !important">{{notebook_note_obj.note.notebook.user.username}}</a>
							
								<i class="fa fa-clock-o"></i>
								{% if language == 'fr' %}
								{% language 'fr' %}{{ notebook_note_obj.note.date_created|date:'d F Y' }}{% endlanguage %}
								{% endif %}

								{% if language == 'en' %}
								{% language 'en' %}{{ notebook_note_obj.note.date_created|date:'F d, Y' }}{% endlanguage %}
								{% endif %}					  		
							</p>
							<p class="card-text" style="word-break: break-all; font-size: 14px;">{{ notebook_note_obj.note.article.content|slice:":500" }}</p>
						</div>
					</div>
				</div>
				{% endif %}

				{% if notebook_note_obj.note.note_type == 'image' %}
				<div class="card mb-4">
					<div class="card-body">
						<div class="Emergence-Article mb-0">
			
				 		<p>
				 			<i class="fa fa-user"></i> <a href="/Notebooks/{{notebook_note_obj.note.notebook.url}}/" class="Emergence-Article" style="color:#17a2b8 !important">{{notebook_note_obj.note.notebook.user.username}}</a>
				 			
				 			<i class="fa fa-clock-o"></i>
							{% if language == 'fr' %}
							{% language 'fr' %}{{ notebook_note_obj.note.date_created|date:'d F Y' }}{% endlanguage %}
							{% endif %}

							{% if language == 'en' %}
							{% language 'en' %}{{ notebook_note_obj.note.date_created|date:'F d, Y' }}{% endlanguage %}
							{% endif %}					  		
				 		</p>
			
							<h2 class="card-title" style="font-size: 15px;">{{notebook_note_obj.note.article.title}}</h2>				
							<p class="card-text">{{ notebook_note_obj.note.article.content|slice:":500" }}</p>
							<a href="/Images/{{notebook_note_obj.note.image.url}}/">
								<img class="card-img-top" src="/media/images/thumbnails_500_500/{{notebook_note_obj.note.image.url}}{{notebook_note_obj.note.image.format}}" alt="">
							</a>
							<figcaption style="text-align:center; font-size: 13px; font-family: Yellowtail; color: #06a;">{{notebook_note_obj.note.abstract}}</figcaption>

						</div>
					</div>
				</div>
				{% endif %}

			{% endfor %}
		{% else %}




		{% endif %}

		{% if display_paginator_navbar %}
			<!-- Pagination -->
			<ul class="pagination justify-content-center pt-5">
			{% if PagList.has_previous %}
			<li class="page-item">
			  <a class="page-link" href="?page={{ PagList.previous_page_number }}" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
				<span class="sr-only">Previous</span>
			  </a>
			</li>
			{% endif %} 
			{% if show_first %}
			<li class="page-item">
			  <a class="page-link" href="?page=1">1</a>
			  <li><span class="ellipsis">...</span></li>
			</li>
			{% endif %} 
			{% for pc in page_numbers %}  
			<li class="page-item {% if pc == PagList.number %} active{% endif %}">
			  <a class="page-link" href="?page={{ pc }}">{{ pc }}</a>
			</li>
			{% endfor %}
			{% if show_last %}
			<li class="page-item">
			  <a class="page-link" href="?page={{paginator.num_pages}}">{{paginator.num_pages}}</a>
			</li>
			{% endif %}
			{% if PagList.has_next %}
			<li class="page-item">
			  <a class="page-link" href="?page={{ PagList.next_page_number }}" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
				<span class="sr-only">Next</span>
			  </a>
			</li>
			{% endif %} 
			</ul>
		{% endif %}


	</div>

	<div class="col-md-3">

		<div class="sticky-top">

		<div class="Emergence-Article mt-0" style="color:grey">
			<p><i class="fa fa-search"></i> Search</p>
			<hr>
		</div>
			<form action="{{path_url}}" method="post">
				{% csrf_token %}
				<div class="form-group mt-3">
					<input type="text" class="form-control border-lightgray btn-sm" placeholder="key words..." name="note_keywords" value="{{form.note_keywords.value|default_if_none:''}}">
				</div> 
				<div class="form-group mt-3">
				<select class="form-control border-lightgray btn-sm" id="exampleFormControlSelect1" name="note_type" style="color:grey"> 
				  <option value='note' {% if form.note_type.value == 'note' %}selected{% endif%}>Toutes les notes</option>
				  <option value='article' {% if form.note_type.value == 'article' %}selected{% endif%}>Articles uniquement</option>
				  <option value='image' {% if form.note_type.value == 'image' %}selected{% endif%}>Images uniquement</option>
				</select>
				</div>
				{% if is_owner %}
					<div class="form-group mt-3">
					<select class="form-control border-lightgray btn-sm" id="exampleFormControlSelect1" name="note_can_see" style="color:grey">
						<option value=0 {% if form.note_can_see.value == 0 %}selected{% endif%}>All notes</option>
						<option value=1 {% if form.note_can_see.value == 1 %}selected{% endif%}>Private notes</option>
						<option value=2 {% if form.note_can_see.value == 2 %}selected{% endif%}>Public notes</option>
					</select>
					</div>
				{% endif %}	
				<input type="submit" class="form-control btn btn-secondary btn-send btn-block mt-3 btn-sm" name="start_search" value="Start">
				<input type="submit" class="form-control btn btn-secondary btn-send btn-block mt-3 btn-sm" name="reset_search" value="Reset">
			</form>
		</div>

	</div>
   
</div>

</div>


{% endblock %}

