{% extends "notebooks/base.html" %}

{% block title %} {{title}} {% endblock %}

{% block local_css %}
<style>
header.masthead {
  margin-bottom: 30px;
}

.footer-bs {
	margin-top: 60px;
}
</style>
{% endblock %}

{% block main_contents %}

{% block header %}
{% include "notebooks/header.html" %}
{% endblock %}

<div class="container">

	<div class="row justify-content-center">

		<div class="col-md-7">

			{% if messages %}
			{% for message in messages %}
			{% block alert_message %}{% include "blog/alert_message.html" %}{% endblock %}
			{% endfor %}
			{% endif %}

			<form action="/Sign-in/" method="post">
			{% csrf_token %}

				<br>

				<div class="form-group">
				<label for="e1">Username</label>
				<input type="text" class="form-control stm" placeholder="" name="username">	
				</div>
				
				<div class="form-group">
				<label for="e5">Password</label>
				<input type="password" class="form-control stm" placeholder="" name="password">
				</div>

				<br>	

				<div class="row">		  
					<div class="col-md-12">
						<input type="submit" class="btn btn-secondary btn-send btn-block" name="Auth_Form" value="Log me in">
					</div>
				</div>

			</form>
		
		</div>

	</div>

</div>


{% endblock %}