{% load static %}

{% block user_guide_content_formatting %}

<h5 class="mt-5">(Content) User Guide</h5>
<hr>
<div class="Emergence-Article">	

<p>
dddd
	Input contents can be formatted using markdown and simple syntaxes. 
	The following points present the most frequent questions to format text content:
</p>

<div class="mt-4 mb-4" id="accordion" role="tablist" aria-multiselectable="true">

<div class="card">
  <div class="card-header bg-white" role="tab" id="headingOne">
	<h6 class="mb-0">
	  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">How to add an image ?</a>
	</h6>
  </div>
  <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
	<div class="card-body">	 
		<p>Pour mettre une simple image dans un article il faut utiliser la balise suivante:</p>
		<pre><code>[image: size: caption:]
		</code></pre>
		<p>ou </p>
		<ul>
		<li>image est l'adresse url de l'image, </li>
		<li>size (optionnel) la taille entre 10 et 100% de la largeur de la page, </li>
		<li>et caption (optionnel) la légende.</li>
		</ul>	
	</div>
  </div>
</div>

<div class="card">
  <div class="card-header bg-white" role="tab" id="headingTwo">
	<h6 class="mb-0">
	  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How to add a link ?</a>
	</h6>
  </div>
  <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
	<div class="card-body">
		<p>Pour mettre un lien dans un article il faut utiliser la syntaxe markdown suivante:</p>
		<pre><code>[title](url)
		</code></pre>
		<h4 id="lien-externe">Lien externe</h4>
		<p>Par exemple pour un lien externe vers une <a href="https://fr.wikipedia.org/wiki/Math%C3%A9matiques">page</a> de wikipedia on peut écrire  </p>
		<pre><code>[article de wikipedia](https://fr.wikipedia.org/wiki/Math%C3%A9matiques)
		</code></pre>
		<p>ce qui va donner</p>
		<p><a href="https://fr.wikipedia.org/wiki/Math%C3%A9matiques">article de wikipedia</a></p>
		<h4 id="lien-interne">Lien interne</h4>
		<p>Pour un lien interne la syntaxe est encore plus simple (par exemple vers l'article: <a href="/Articles/Comment-simplifier-une-fraction-Mathématiques/">Comment simplifier une fraction (Mathématiques) ?</a>): </p>
		<pre><code>[lien interne](/Articles/Comment-simplifier-une-fraction-Mathématiques/))
		</code></pre>
	</div>
  </div>
</div>

<div class="card">
  <div class="card-header bg-white" role="tab" id="headingThree">
	<h6 class="mb-0">
	  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">How to add headers ?</a>
	</h6>
  </div>
  <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
	<div class="card-body">
	<p>
	Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry 
	richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
	Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
	put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil 
	anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea 
	proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer 
	farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of 
	them accusamus labore sustainable VHS.
	</p>
	</div>
  </div>
</div>

<div class="card">
  <div class="card-header bg-white" role="tab" id="headingFour">
	<h6 class="mb-0">
	  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">How to create a table ?</a>
	</h6>
  </div>
  <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
	<div class="card-body">
	<p>
	Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry 
	richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
	Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
	put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil 
	anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea 
	proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer 
	farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of 
	them accusamus labore sustainable VHS.
	</p>
	</div>
  </div>
</div>

</div>

</div>

{% endblock %}

